@model HIMS_Web.Models.Locations

@{
    ViewData["Title"] = "Delete";
}

<h1>删除</h1>

<h3>确定删除这条数据吗?</h3>
<div style="width:80%;margin:0 auto;text-align:center;align-content:center">
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Owner)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="删 除" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
